{% extends "base.html" %}
{% block content %}
<div class="container-fluid m-0 p-0">
    <div style="height: 85vh; background-image: url(static/controller.jpg); background-size: cover; display: flex; flex-direction: column; padding: 0px 50px 0px 50px" class=" d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h1 id="text-on-off">Ecobrick machine is turned off!</h1>
        <button type="button" class="btn btn-primary" id="on-off">On</button>
    </div>
    </div>

<script>
$("#on-off").click(function(){
    var x = $(this).text();
    if (x=='On'){
        $(this).removeClass(' btn-primary').addClass(' btn-danger').html('Off');
        $('#text-on-off').html('Ecobrick machine is turned on!').addClass('animated pulse infinite');}
    else {
        $(this).removeClass(' btn-danger').addClass(' btn-primary').html('On');
        $('#text-on-off').html('Ecobrick machine is turned off!').removeClass('animated pulse infinite');}
});
</script>

{% endblock content %}