{% extends "base.html" %}
{% block content %}
<div class="modal" tabindex="-1" role="dialog" id="controller">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Controller</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body m-0 pl-2 pr-2 pb-0">
                <div class="container">
                    <h1 id="text-on-off" class="text-center">Ecobrick machine is turned off!</h1>
                    <div class="container d-flex justify-content-center">
                <button type="button" class="btn btn-info" id="on-off">On</button></div>
            </div>
            </div>
            <div class="modal-footer m-0 pb-2 d-flex justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <div style="height: 90vh; background-image: url(static/bg.jpeg); background-size: cover;" class="d-flex justify-content-center align-items-center animated bounceIn">
        <button class="btn btn-primary btn-lg animated bounce infinite" data-toggle="modal" data-target="#controller">Let's Start Ecobricking</button>
    </div>

    <!-- About Section -->
    <section class="page-section bg-info text-white mb-0 animated bounceIn delay-250ms" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-leaf"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">We’re an Earth Enterprise focused on solving plastic pollution through the dissemination of the low-tech, educational, open source ecobrick technology. We envision a transition from plastic to ever greener harmony with Earth’s cycles.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">An Ecobrick is a reusable building block created by packing clean and dry used plastic into a plastic bottle to a set density. Ecobricks enable us to take personal responsibility for our plastic.</p>
                </div>
            </div>

            <!-- About Section Button -->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="#page-top">
                    <!-- <i class="fas fa-arrow mr-2"></i> -->
                    Go Home
                </a>
            </div>

        </div>
    </section>

    <!-- Manual User Guide -->
    <section class="page-section bg-success text-white mb-0 animated bounceIn delay-500ms" id="manual">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">User Guide</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-leaf"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">We’re an Earth Enterprise focused on solving plastic pollution through the dissemination of the low-tech, educational, open source ecobrick technology. We envision a transition from plastic to ever greener harmony with Earth’s cycles.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">An Ecobrick is a reusable building block created by packing clean and dry used plastic into a plastic bottle to a set density. Ecobricks enable us to take personal responsibility for our plastic.</p>
                </div>
            </div>

            <!-- About Section Button -->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="#page-top">
                    <!-- <i class="fas fa-arrow mr-2"></i> -->
                    Go Home
                </a>
            </div>

        </div>
    </section>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        $("#on-off").click(function(){
    var x = $(this).text();
    if (x=='On'){
        $(this).removeClass(' btn-primary').addClass(' btn-danger').html('Off');
        $('#text-on-off').html('Ecobrick machine is on!').addClass('animated pulse infinite');}
    else {
        $(this).removeClass(' btn-danger').addClass(' btn-primary').html('On');
        $('#text-on-off').html('Ecobrick machine is off!').removeClass('animated pulse infinite');}
});
    </script>
    
{% endblock content %}
